.box-filter{
    height: 300px;   

}
.name-checkbox{
    text-decoration: none;
    color: black;
}
.name-checkbox:hover{
    cursor: pointer;
    transition: 0.3s;
}
.box-filter h3{
    margin-bottom: 0;
}
.check-chose{
    margin-top: 10px;
}
.check-chose{
    cursor: pointer;
    transition: 0.3s;
}
.check-chose:hover{
    color: #EB6440
}
.name-checkbox:hover{
    color: #EB6440;
}
hr{
    width:  12vw;
}