.path-page p {
    font-size: 20px;
    text-align: center;
}

.info1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-con {
    display: flex;
}

.qr-img {
    padding: 50px;
    width: 400px;
    border-radius: 60px;
}

.icon-img {
    width: 90px;
    margin:20px;
}