.cardItem{
    position: relative;
    width:  260px;
    height: 300px;
    background-color: white;
    border-radius:  10px;
    overflow: hidden;
    border: 1px solid transparent;
    margin-bottom: 2vw;
}

.cardItem:hover{
    border: 1px solid gray;
}

.cardItem .imgBx{
    position: relative;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
    z-index: 1;
}
.cardItem .imgBx img{
    margin-left: 5vw;
    max-width: 60px;
    transition: 0.3;
}
.cardItem .contentBx h3{
    font-size: 20px;
    cursor:pointer;
    margin-top: 0;
    margin-bottom: 3px;
    transition: 0.3s;

}
.price{
    color: #EB6440;
}
.cardItem.contentBx .price{
    color: #EB6440;
    margin-bottom: 5px;

}
.cardItem .contentBx{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.cardItem .contentBx .buy{
    --h: 1.2em;   /* the height */
    font-size: 20px;
    line-height: var(--h);
    color: #0000;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#EB6440 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
      border-radius: 10px;
    transition: 0.3s;
}
.cardItem:hover .contentBx .buy{
    
    cursor: pointer;
    text-align: center;
  
    align-items: center;
    width: 120px;
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
}

.buy{
    text-decoration: none;
}