.box-modal{
    display: flex;
}
.left-modal{

    margin-right: 2vw;
}
.left-modal img{
    height: 100%;
    width: 250px;
}
.right-modal{
    padding: 1vw;
    width: 500px;
}
a{
    font-size: 12px;
    margin: 0;
    padding: 0 ;
}
.button-group{
    display: flex;
}
.botton{
    color: white;
    transition: 5ms;
    background-color:#EB6440 ;
}
.botton:hover{
    background-color: black;
}
.submitbutton{
    margin-left: 1vw;
    margin-top: 4vw;
}
