.box-modal{
    display: flex;
}
:root{
    --bs-modal-border-radius: 20px
}
.left-modal{

    justify-content: center;
    align-items: center;
    width: 350px;
    background-color:transparent;
    margin-right: 2vw;
}
.left-modal img{
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
    height: 100%;
    width: 220px;
}
.right-modal h3{
    margin: 0;
    margin-bottom: 0;
}
.right-modal p{
    margin-top: 1vw;
}
.right-modal{
    padding: 1vw;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-up{
    margin: 0;
}
.title{
    border-bottom: 2px solid black;
    padding-bottom: 1vw;
}
.agear{
    font-size: 15px;
    margin: 0;
    padding-top: 12px ;
}
.button-group{
    height:120px;
    justify-items: center;
    align-items: center;
    margin-top: 1;
    display: flex;
}
.pinbutton{
    font-weight: bold;
    font-size: 20px;
    margin-right:  2vw;
}
.botton{
    color: rgb(0, 0, 0);
    transition: 5ms;
    background-color: #d47155ab;
}
.botton:focus{
    background-color: #EB6440;
}
#sizebtn{
    margin-bottom: 1.8vw;
}
.submitbutton{
    position: relative;
    display: flex;
    border-radius: none;
}
.submitbutton .botton{
    background: black;
    color:white;
    transition: .4s;
    width: 8rem;
}
.submitbutton .botton:hover{
    background: rgba(0, 0, 0, 0.808);
}
.Modalcontainer{
    background-color: white;
    
}

.selected{
    margin-left: 2vw;
}