.box-offCanvas{
    display: flex;
}
.left-offCanvas img{
    width: 100px;
    margin-right: 2vw;
}
.right-offCanvas{
    width: 200px;
}
.box-offCanvas p{

    margin: 0;
    padding: 0;
}
.box-offCanvas a{
    margin: 1vw;
}
.box-offCanvas .button-pack{
    display: flex;
}
hr{
    width: 350px;
}