@font-face {font-family: "Sofia Pro Black"; src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot"); src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff") format("woff"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.svg#Sofia Pro Black") format("svg"); }


.footer-container{
    display: flex;
    font-family: "Sofia Pro Black", Helvetica Neue, Helvetica, Arial, sans-serif ;
    width: 100%;
    height: 30vh;
    background-color: #eee;
    color: #c3c3c3;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-header {
    color: #f86c2c;
}
.icon {
    width: 40px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 5px;
    /* background-color: #f86c2c; */
    border-radius: 30px;
}
.footer-centerbottom {
    display: flex;
    flex-flow: row nowrap;
}
.footer-services {
    margin-left: 10px;
}