@font-face {font-family: "Sofia Pro Black"; src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot"); src: url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.woff") format("woff"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1572b251b0319fdd12219a000aad6196.svg#Sofia Pro Black") format("svg"); }

.body{
    margin: 0;
    
}
.navbar{
    width: 100%;
    position: fixed;
    font-family: "Sofia Pro Black", Helvetica Neue, Helvetica, Arial, sans-serif ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    text-transform:uppercase;
    background-color: #242230 ;
    padding: 10px;
    color: white;
    z-index: 100;
}
.navbar-left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* margin-right: 200px;  */
    
}
.navbar-right{
    display: flex;
}
.navbar-item{
    margin-left: 20px;
    cursor: pointer;
}
.navbar-right .navbar-item{
    border-radius: 30px;
    /* background-color: #9388ff; */
    padding: 5px 10px;
    right: 0%;
    position: relative;
}
.navbar-left .navbar-item{
    border-radius: 30px;
    background-color: #9388ff;
    /* color: white; */
    /* border: 2px solid white; */
    padding: 5px 25px;
}
.navbar-left a{
    color: white;
    text-decoration: none;
}
.navbar-right a{
    color: white;
    text-decoration: none;
}
/* .navbar-center{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.navbar-center a{
    text-decoration: none;
    color:white;
} */
/* .navbar-item-img:hover{
    animation: spin 0.4s linear alternate;
}
@keyframes spin {
    50% {
        transform: rotate(420deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    /* z-index: 101; */
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: none;
}

@media screen and (max-width: 768px) {
    .toggle-button{
        display: flex;
    }
    .navbar-right{
        display: none;
        width: 100%;
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-item{
        text-align: center;
        padding: .5rem 1rem;
    }
    .navbar-right.active{
        display: flex;
    }
    .toggle-button .bar {
        display: flex;
    }
  }