.big-cardOffcanvas{
    display: flex;
}

.card-offcanvas{
    margin-top: 2vw;

}
h5{
    font-size: 15px;
    width: 200px;
}
.img-offcanvas{
    width: 100px;
    height: 80;
    margin-top: 2vw;
    margin-left: 2vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
}
h6{
    font-size:  15px;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
}
.card{
    margin-bottom: 1vw;
}
@media (max-width: 450px) {
    h5{
        font-size: 15px;
        width: 150px;
    }
}
